.rectangle1 {
  background-color: 
#e0eaee;
  height: 80px;
  left: 1260px;
  position: absolute;
  top: 0;
  width: 148px;
}
.rectangle2 {
  background-color: 
#e0eaee;
  height: 80px;
  left: 800px;
  position: absolute;
  top: 0;
  width: 145px;
}